.green {
  background-color: #c3e6cb;
}

.blue {
  background-color: #bee5eb;
}

.yellow {
  background-color: #ffeeba;
}

.red {
  background-color: #f5c6cb;
}

.gray {
  background-color: #fdfdfe;
}